/* Navbar.css */
.menu-hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.menu-visible {
    max-height: 1000px; /* Adjust this value based on the size of your menu */
    overflow: hidden;
    transition: max-height 0.5s ease-in;
}
.custom-navbar {
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
}


.icon-transition {
    transition: transform 0.3s ease-in-out;
}

.rotate-up {
    transform: rotate(180deg);
}

.rotate-down {
    transform: rotate(0deg);
}
